@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
    @font-face {
        font-family: Rokh;
        src: url("./../public/fonts/Dirooz.ttf");
    }

    body {
        font-family: Rokh;
    }
}

@theme {
    --breakpoint-sm: 320px
}

@layer components{
    .btn{
        @apply size-[45px] border rounded-[8px] border-[#D3E0F0] dark:border-[#3A4A6B] flex justify-center items-center cursor-pointer text-xl bg-[#4A90E2] dark:bg-[#5DADEC] dark:hover:bg-[#82C1F0] hover:bg-[#357ABD] transition-colors duration-200 text-[#FFFFFF] dark:text-[#1F2A44]
    }
}