@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
    @font-face {
        font-family: Rokh;
        src: url("./../public/fonts/Dirooz.ttf");
    }

    body {
        font-family: Rokh;
    }
}

@theme {
    --breakpoint-sm: 320px
}